:root {
    /* Colors */
    --color-accent: #FB2E86;
    --color-red: #FB2448;
    --color-blue: #2F1AC4;
    --color-navy-blue-off: #3F509E;
    --color-text: #151875;
    --color-sky-blue: #f3f5ff;
    --color-pantone-purple: #E0D3F5;
    --color-purple: #7E33E0;
    --color-purple-off: #9F63B5;

    --color-white: #fff;
    --color-black: #000;

    /* Fonts */
    --font-button-default: 400 17px/20px;
    --font-button-small: 400 12px/14px;

    /* Values */
    --default-font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    color: var(--color-text);
    font-size: var(--default-font-size);
    font-family: 'JosefinSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
    font-variation-settings: normal;
    font-feature-settings: normal;
    will-change: font;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100%;
    max-width: 94px;
    border-radius: 2px;
    color: var(--color-white);
    font: var(--font-button-default);
}

.btn.btn--primary {
    padding: 16px;
    max-width: 163px;
    background: var(--color-accent);
    font: var(--font-button-small);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1177px;
}

.site-header .header-top {
    padding: 14px 0;
    background-color: #7E33E0;
}
.site-header .header-top a {
    color: var(--color-white);
    line-height: 18.75px;
    font-size: 16px;
    font-family: Arial, "Josefin Sans", sans-serif;
}
.site-header .header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

}
.site-header .header-top .container .header-left {
    display: flex;
    align-items: center;
    gap: 48px;
}
.site-header .header-top .container .connection {
    display: flex;
    align-items: center;
    gap: 10px;
    max-height: 16px;

}

.site-header .header-top .container .header-right {
    display: flex;
    align-items: center;
    gap: 32px;
}
.site-header .header-top .container .header-right a {
    display: flex;
    align-items: center;
    gap: 2px;
}
.site-header .header-top .container .header-right button {
    border: unset;
    background: transparent;
}
.header-bottom {
    padding: 19px 0;
}

.header-bottom .container .header-bottom-row {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
}
.header-bottom .container .header-bottom-row .header-logo {
  padding-right: 88px;
}
.header-bottom .container .header-bottom-row .header-nav {
    display: flex;
    justify-content: space-between;
}

.header-bottom .container .header-bottom-row .header-nav ul {
    display: flex;
    column-gap: 35px;
}

.header-bottom .container .header-bottom-row .header-nav ul li a {
    color: #0D0E43;
    line-height: 20px;
    font-weight: 400;
    font-size: 16px;
    font-family: Arial, "Lato", sans-serif;
    transition: 0.25s;
    cursor: pointer;
    
}
.header-bottom .container .header-bottom-row .header-nav ul li a:hover {
    color: var(--color-accent);
}
.header-bottom .container .header-bottom-row .header-nav ul li .arrow {
display: flex;
align-items: center;
gap: 2px;
height: 100%;
}
.header-bottom .container .header-bottom-row .form {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 40px;
    border-width: 2px;
    border-color: #E7E6EF;
}
.header-bottom .container .header-bottom-row .form input {
    height: 40px;
    border: 2px solid #E7E6EF;
}
.header-bottom .container .header-bottom-row .form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 51px;
    max-width: 51px;
    height: 40px;
    border: none;
    background: var(--color-accent);
}

