:root {
    /* Colors */
    --color-accent: #FB2E86;
    --color-red: #FB2448;
    --color-blue: #2F1AC4;
    --color-navy-blue-off: #3F509E;
    --color-text: #151875;
    --color-sky-blue: #f3f5ff;
    --color-pantone-purple: #E0D3F5;
    --color-purple: #7E33E0;
    --color-purple-off: #9F63B5;

    --color-white: #fff;
    --color-black: #000;

    /* Fonts */
    --font-button-default: 400 17px/20px;
    --font-button-small: 400 12px/14px;

    /* Values */
    --default-font-size: 16px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    color: var(--color-text);
    font-size: var(--default-font-size);
    font-family: 'JosefinSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
    font-variation-settings: normal;
    font-feature-settings: normal;
    will-change: font;
    -webkit-tap-highlight-color: transparent;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100%;
    max-width: 94px;
    border-radius: 2px;
    color: var(--color-white);
    font: var(--font-button-default);
}
.btn.btn--primary {
    padding: 16px;
    max-width: 163px;
    background: var(--color-accent);
    font: var(--font-button-small);
}
